/***
Login page
***/
/* bg color */

.login .logo {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  padding-top: 30px;
}

.login .content {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  width: 400px;
  margin: 0px auto 10px auto;
  padding: 50px;
  overflow: hidden;
  position: relative;
  margin-top: 35px;
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.25);
}
.login h1 {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  padding-bottom: 0px;
}

.login .content h3 {
  color: #72275a;
  text-align: center;
  font-size: 28px;
}
.login .form-control.form-control-solid {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #888;
}
.login .form-control {
  height: 44px;
  font-size: 1rem;
  border-radius: 8px;
}
.login .form-title {
  text-align: center;
  font-size: 2rem;
  color: #72275a;
  font-weight: bold;
}
.login .btn-success {
  width: 100%;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
}
.login .content h4 {
  color: #555;
}

.login .content .hint {
  color: #999;
  padding: 0;
  margin: 15px 0 7px 0;
}

.login .content .login-form,
.login .content .forget-form {
  padding: 0px;
  margin: 0px;
}
.login .btn-success {
  /*    background-color: #2E6DA4;*/
  color: #fff;
  background-image: linear-gradient(
    to bottom right,
    rgb(185, 31, 78),
    rgb(118, 50, 96)
  ) !important;
}
.login .btn-success:hover,
.login .btn-success:visited,
.login .btn-success:focus,
.login .btn-success:active,
.login .btn-success:active:hover {
  background-image: linear-gradient(
    to bottom left,
    rgb(185, 31, 78),
    rgb(118, 50, 96)
  ) !important;
}
.login .content .form-control {
  border: none;
  height: 34px;
  color: #8290a3;
  border: 1px solid #dde3ec;
}
.login .content .form-control:focus,
.login .content .form-control:active {
  border: 1px solid #c3ccda;
}
.login .content .form-control::-moz-placeholder {
  color: #8290a3;
  opacity: 1;
}
.login .content .form-control:-ms-input-placeholder {
  color: #8290a3;
}
.login .content .form-control::-webkit-input-placeholder {
  color: #8290a3;
}

.login .content select.form-control {
  padding-left: 9px;
  padding-right: 9px;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: bold;
  margin-bottom: 30px;
}

.login .content .form-actions {
  clear: both;
  border: 0px;

  padding: 0px 30px 0px 30px;
  margin-left: -30px;
  margin-right: -30px;
}

.login-options {
  margin-bottom: 30px;
  overflow: hidden;
}

.login-options h4 {
  float: left;
  font-weight: 600;
  font-size: 15px;
  color: #7d91aa !important;
}

.login-options .social-icons {
  float: right;
  padding-top: 3px;
}

.login-options .social-icons li a {
  border-radius: 15px 15px 15px 15px !important;
  -moz-border-radius: 15px 15px 15px 15px !important;
  -webkit-border-radius: 15px 15px 15px 15px !important;
}

.login .content .form-actions .checkbox {
  margin-left: 0;
  padding-left: 0;
}

.login .content .forget-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

.login .content .register-form .form-actions {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0px;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}

.login .content .form-actions .btn-success {
  font-weight: 600;
  padding: 10px 20px !important;
}

.login .content .form-actions .btn-default {
  font-weight: 600;
  padding: 10px 25px !important;
  color: #6c7a8d;
  background-color: #ffffff;
  border: none;
}

.login .content .form-actions .btn-default:hover {
  background-color: #fafaff;
  color: #45b6af;
}

.login .content .forget-password {
  font-size: 14px;
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.login .content .check {
  color: #8290a3;
}

.login .content .rememberme {
  margin-left: 8px;
  margin-top: 10px;
}

.login .content .create-account {
  margin: 0 -40px -40px -40px;
  padding: 15px 0 17px 0;
  text-align: center;
  background-color: #6c7a8d;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.login .content .create-account p a {
  font-weight: 600;
  font-size: 14px;
  color: #c3cedd;
}

.login .content .create-account a {
  display: inline-block;
  margin-top: 5px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  margin: 0 auto 30px 0;
  padding: 10px;
  color: #7a8ca5;
  font-size: 13px;
}

@media (max-width: 440px) {
  /***
  Login page
  ***/
  .login .logo {
    margin-top: 10px;
  }

  .login .content {
    width: 280px;
    margin-top: 10px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .forget-password {
    display: inline-block;
    margin-top: 20px;
  }

  .login-options .social-icons {
    float: left;
    padding-top: 3px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
