/* 
    Document   : style
    Created on : Sep 19, 2012, 12:54:33 AM
    Author     : Bala
    Description:
        Custome changes and styles
*/

#dashboard {
  border: 1px solid #f2f2f2;
  /* width:333px;*/
  width: 265px;
  margin: 20px;
  float: left;
  text-align: center;
  border-radius: 25px;
}

.today_summary {
  border: 1px solid #c2c2c2;
  float: left;
  height: 347px;
  margin: 20px;
  overflow: hidden;
  width: 263px;
}
.week_sum_heading {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #c2c2c2;
}
.today_summary .portlet {
  border-bottom: 0px !important;
  padding-bottom: 0px;
}

.today_summary .portlet-content {
  padding: 0 !important;
}

.dash_work_overview {
  line-height: 15px;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 10px;
  min-height: 40px;
}
.qk_desc {
  margin: 5px;
  width: 304px;
}
.date_qk_smy {
  background-color: #f2f2f2;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.hrs_box {
  background-color: #f2f2f2;
  float: right;
  font-weight: bold;
  height: 16px;
  padding: 5px;
  position: relative;
  width: 28px;
  z-index: 3;
  margin-top: 5px;
}

.dash-summary {
  /*width:250px;*/
  /*min-height:315px;*/
  /*border:1px solid #c2c2c2;*/
  float: left;
  margin-top: 0px;
}

.dash-summary ul li {
  float: left;
  border-radius: 10px;
}

.dicons {
  background-color: #f9f9f9;
  border: 1px solid #c2c2c2;
  border-radius: 20px 20px 20px 20px;
  display: block;
  float: left;
  font-size: 11px;
  height: 55px;
  margin: 3px;
  padding: 4px;
  text-align: center;
  width: 50px;
}

.dicons:hover {
  background-color: #f1f1f1;
}

.dblink {
  margin-top: 5px;
  font-weight: bold;
}

img.dasimage {
  height: 30px;
  width: 30px;
}
.button-column a img {
  margin-right: 5px !important;
}

.grid-view {
  padding: 0px 0px 15px 0px;
}
a.savepdf {
  background: #fafafa;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 10px 8px;
  margin-left: 10px;
  border-radius: 3px;
  font-size: 13px;
  margin-top: -3px;
}
.select-drop {
  margin-right: 5px;
  margin-top: -12px;
}
.page-wrapper {
  padding-bottom: 75px;
  /*    background-color: #EFF3F8;*/
}
.nav > li > a {
  margin-top: 5px;
  font-size: 14px;
  color: #72265a;
  padding: 10px 10px;
}
.nav-tabs li a {
  color: #06c;
  margin-top: 0px;
}
.nav-tabs li a:hover {
  color: #3175af;
}
.navbar-nav > li > a:hover {
  color: #000;
  background: transparent;
  /* background: #72275a; */
}
.navbar-nav > li.active > a {
  color: #fff;
}
/* .navbar-nav > li.active > a,
.navbar-nav > li.active > a:hover,
.navbar-nav > li.current > a,
.navbar-nav > li.current > a:hover,
.navbar-nav > li a:focus,
.navbar-nav > li a:visited {
  background: #72275a;
} */
.navbar-nav > li.active > a {
  /* background: #72275a; */
  background: #ab2f5f;
}

/* .navbar-right .dropdown-menu {
    right: 0;
    left:0;
} */
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #aa2f5f;
  color: #fff;
  /* background-color: #72275a; */
  /* background-color: transparent;
  color: #72265a; */
}
/* .navbar-nav .dropdown-user.open > a:focus {
  background-color: transparent;
} */
.navbar-toggle .icon-bar {
  background-color: #8c8c8c;
}
.icon-comn,
.icon-comn:visited,
.icon-comn:link {
  color: #000;
  margin-right: 3px;
  padding: 0px 3px;
  text-decoration: none;
  line-height: 20px;
}
.icon-comn:last-child {
  margin-right: 0px;
}

.icon-comn:hover {
  /* color: #b68200; */
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  background-color: #c91f4c;
}
.head_list th {
  color: #000;
}
.grid-view table.items th {
  background: #44709c;
}
table.detail-view tr.odd {
  background: #fff;
}
.page-footer .pull-right {
  float: none !important;
  text-align: center;
  margin-bottom: 3px;
  color: rgba(255, 255, 255, 0.75);
}
.page-footer .pull-right select {
  color: #000;
  border: 1px solid #ccc;
}
.page-footer .pull-right span {
  color: rgba(255, 255, 255, 0.85);
  margin-left: 10px;
}
.alert {
  margin-top: 15px;
}
.grid-view .filters input,
.grid-view .filters select {
  height: 20px;
}
ul.yiiPager li.previous {
  margin-right: 3px;
}
.user-name {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ececec;
  /* color: #fff; */
}
.page-content {
  min-height: 650px !important;
}
.select2-container .select2-selection--single {
  height: 34px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 34px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 3px;
}
.allocation_form {
  background-color: rgba(128, 128, 128, 0.15);
  padding-bottom: 5px;
}
.alloc {
  margin: 8px 0px;
}
.alloc h4 {
  margin-bottom: 5px;
}
.myprofile {
  background-color: #fafafa;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  padding: 15px 0px;
}
.myprofile h1 {
  padding-bottom: 0.5em;
  margin-bottom: 0px;
  border-bottom: 2px solid #fff;
}
.caretiden:after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  right: 5px;
  top: 24px;
}
.mailset {
  border-right: 1px solid #dfdfdf;
  background-color: #fafafa;
}
.toolset {
  margin-bottom: 15px;
}
@media (max-width: 330px) {
  .page-footer .pull-right select {
    width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .table-responsive {
    border: 1px solid #fff;
  }
}

@media (min-width: 767px) {
  .dropdown > .dropdown-menu:after,
  .dropdown-toggle > .dropdown-menu:after,
  .btn-group > .dropdown-menu:after {
    left: auto;
    right: 20px;
    top: -7px;
  }
  .nav > li > a {
    padding: 15px 10px;
  }
  .caretiden:after {
    right: 0px;
  }
}
@media (min-width: 992px) {
  .page-footer .pull-right {
    float: right !important;
    text-align: left;
    margin-bottom: 0px;
  }
  .date input {
    width: 100px;
  }
  .half-table {
    width: 50%;
  }
  .myprofile {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .nav > li > a {
    padding: 15px 15px;
  }
  .date input {
    width: auto;
  }
  select2 select2-container select2-container--default {
    width: auto !important;
  }
  .caretiden:after {
    right: 5px;
  }
}
@media (min-width: 1300px) {
  /* .page-header {
    height: 60px;
  } */
}
