.modal-body .row {
  background: #fff;
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 0px;
}
.btn-go {
  margin: 10px 0px 2px;
}
.modal .filter {
  padding: 10px;
}
.addRow {
  border: 0px;
}
.addRow textarea {
  width: 100%;
  height: 80px;
}
.add-box {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.add-btn {
  text-align: left;
}
span.required {
  color: red;
}
.errorMessage,
.errorMessage1,
.errorMessage2,
.errorMessage3 {
  color: red;
}
.rememberMe {
  float: right;
}
.modal-header {
  background: #f5f5f5;
}
.addbutton_form {
  margin-top: 15px;
  margin-bottom: 2px;
}
.editable {
  cursor: pointer;
}
.info {
  color: green;
  font-size: 20px;
}
.infoerror {
  color: red;
  font-size: 20px;
}
.deleteicon > img {
  width: 12px;
}
.importicon > img {
  width: 12px;
  margin-left: 2px;
}
.singletextbox {
  margin: 5px;
}

a.icon-user:before,
a.icon-key:before {
  /*    position: absolute !important;
    left: 12px;*/
}
.dropdown-menu li > a {
  /*    padding-left:30px!important;*/
}
img.img-circle {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.addelement > div {
  display: inline-block;
  vertical-align: top;
}
.user-account {
  color: #72265a;
  font-size: 18px;
}
.user-account:hover {
  color: #000;
}
.dropdown-user.open .user-account {
  color: #fff;
}
.tableaction a {
  color: #5d5d5d;
}
.table {
  border-collapse: collapse;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}
.table.table-bordered thead > tr > th {
  padding: 8px;
}
.fa-circle {
  margin-right: 4px;
}
.assg_form {
  margin-bottom: 10px;
}
.ui-datepicker-calendar thead th {
  background-color: #fff;
  color: #3c3878;
}

ul.yiiPager a:link,
ul.yiiPager a:visited {
  border: solid 1px #72255a;
  color: #72255a;
}
ul.yiiPager .selected a {
  background: #72255a;
  color: #fff;
}
/* .dropdown-user:hover .user-account,
.dropdown-user:active .user-account,
.dropdown-user:visited .user-account,
.dropdown-user:focus .user-account {
  color: #fff;
} */
@media (max-width: 768px) {
  .portlet.light {
    padding: 12px 0px;
  }
  .open ul.dropdown-menu {
    display: block !important;
  }
  .table-responsive {
    border: 0px;
  }
}
.portlet.light {
  background-color: transparent;
}
table {
  background: #fff;
}
.successmessage {
  color: red;
}
div.calendar {
  z-index: 99999;
  width: 250px;
  top: 139px;
}
.modalrowdiv {
  /*border: 1px solid #f5f5f5;
    margin-top:10px;*/
  max-height: 500px;
  overflow-y: auto;
  padding: 0px 15px;
}
.modaltable {
  /*    padding:15px;*/
}
form .row div {
  /*    padding-top:6px; padding-bottom:6px;*/
}
.dropdown-menu li .ico {
  padding-left: 30px !important;
}
